@charset "utf-8";
/* CSS Document */
.main-wrapper {
	width: 1002px;
    height: auto;
    margin: 0 auto;
    background: #F9FCFF;
}

#header1 {
	padding:20px;
    width: 962px;
    height: 100px;
    background: #FCFCFC;
}
#header2 {
	padding:20px;
    width: 962px;
    height: 100px;
    background: #FCFCFC;
	display:none;
}

.circle {
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background: red;
}

#canvas {
   padding:20px;
    width: auto;
	display:none;
	overflow:scroll;
     height:auto;
}
#info{
	width:1002px;
	height:auto;
	background:#1695a3;
	display:none;
}

